<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}">
  
  <textarea id="message-{{ include.parent_id }}" class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)" required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required>
    <button class="comment-submit" type="submit">SEND</button>
  </div>  
</form>

<script>
  var simplemde = new SimpleMDE({ 
      element: document.getElementById("message-{{ include.parent_id }}"),
      forceSync: true,
      spellChecker: false,
      status: false,
      placeholder: 'Comment (markdown supported)'
  });
</script>
