.comment {
    padding-top: 10px;
    h3 {
        display: inline;
        color: royalblue;
    }
    p {
        margin: 0;
    }
}

.comment-new {
    margin-top: 25px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .comment-message, .comment-name {
        font-size: 16px;
        padding: 15px;
        border: 1px solid #ddd;
        margin: 0;
    }

    .comment-message {
        min-height: 150px;
        resize: none;
    }
    
    .comment-bottom {
        display: flex;
    }

    .comment-name {
        flex: 1
    }
    
    .comment-submit {
        width: 200px;
        border: 1px solid #ddd;
        color: royalblue;
        font-weight: bold;
        
        &:hover {
            cursor: pointer;
        }
    }

    .CodeMirror, .editor-toolbar {
        border-radius: 0;
    }
    .CodeMirror, .CodeMirror-scroll {
        min-height: 150px;
    }
}

.comment-reply {
    padding: 15px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    .open {
        font-style: italic;
    }

    .close {
        display: none;
        align-self: flex-end;
        padding: 5px 10px;
        border: 1px solid #ddd;
    }
    
    .open:hover, .close:hover {
        cursor: pointer;
    }

    .comment-form {
        display: none;
    }

    .checkbox {
        display: none;
        &:checked ~ .open {
            display: none;
        }
        &:checked ~ .close {
            display: block;
        }
        &:checked ~ .comment-form {
            display: flex;
        }
    }
}
