---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.feature_image %}
      <div class="feature-image">
          <img src="{{ "/assets/" | append: page.feature_image | relative_url }}" />
      </div>
    {% endif %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <form method="POST" action="{{ site.staticman_url }}">
    <input name="options[redirect]" type="hidden" value="{{ page.url }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name</label>
    <label><input name="fields[email]" type="email">E-mail</label>
    <label><textarea name="fields[message]"></textarea>Message</label>
    
    <button type="submit">Go!</button>
  </form>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>